<div class="container">
  <form class="form-group my-5" (submit)="onSaveArtwork(uploadForm)" #uploadForm="ngForm">
    <input
    class="form-control my-2"
    type="text"
    placeholder="Title"
    name="title"
    [ngModel]="artwork?.title"
    #title = "ngModel" />

    <button class="btn btn-light shadow-sm" (click)='imagePicker.click()'>
      Upload Preview
    </button>
    <input type="file" #imagePicker>

    <input
    class="form-control my-2"
    type="text"
    placeholder="Image Preview"
    name="preview"
    [ngModel]= "artwork?.preview"
    #preview = "ngModel" />

    <button
    class="btn btn-success btn-block"
    type="submit">Upload</button>
  </form>

</div>
