input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.square-box {
  border-radius: 0.15rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}

.square-image {
  position: relative;
  width: 100%;
  background: #4679bd;
  z-index: 2;
}
