<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 px-1 m-1">
      <div class="square-box d-flex align-items-center mb-2 ">
        <img
          class="image-fluid square-image"
          src="../../../assets/profile-placeholder.png"
          alt="profile pic"
        />
      </div>
      <h3 class="text-center text-primary mb-0">{{ user.username }}</h3>
      <p class="text-center text-dark font-italic">{{ user.email }}</p>
      <button class="btn btn-warning btn-lg btn-block">
        Become a Designer
      </button>
      <button class="btn btn-success btn-lg btn-block">
        Upload Artwork
      </button>
    </div>
  </div>
</div>
