<div id="body">
  <div class="row m-2 pt-2">
    <h2 class="text-center mx-auto my-5" *ngIf="artworks.length == 0">
      <span class="text-primary">I'm sorry :(</span> No results found!
    </h2>

    <div
      *ngFor="let artwork of artworks"
      class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-1"
    >
      <div class="square-box d-flex align-items-center mb-2 ">
        <img
          class="image-fluid square-image"
          [src]="artwork.imagePath"
          alt="artwork.title"
        />
        <!-- <div class="square-click">Blaa</div> -->

        <!-- <div class="square-overlay"></div> -->
        <a class="square-content d-flex align-items-start flex-column">
          <div>
            <button class="btn btn-outline-light btn-sm m-2">
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
            <button
              *ngIf="userIsAuthenticated && userId === artwork.designer._id"
              class="btn btn-outline-light btn-sm"
              (click)="OnDelete(artwork.id)"
            >
              Delete
            </button>
            <a
              *ngIf="userIsAuthenticated && userId === artwork.designer._id"
              class="btn btn-outline-light btn-sm ml-2"
              [routerLink]="['/edit', artwork.id]"
              routerLinkActive="router-link-active"
            >
              Edit
            </a>
          </div>
          <a
            id="artworkTitle"
            class="mt-auto ml-2 mb-2 font-weight-bold text-light text-left"
            [routerLink]="['/view', artwork.id]"
            routerLinkActive="router-link-active"
          >
            {{ artwork.title }}
            <div class="font-weight-light font-italic">
              {{ artwork.designer.username }}
            </div>
          </a>
          <!-- <p id="designer" class="ml-2 mb-1">{{ artwork.designer }}</p> -->
        </a>
      </div>
    </div>
  </div>
</div>
